<div class = "col-md-2 dashboad_left">
  <div class="card">
    <div class="card-header" id="headingOne">
      <div class = "childdash">
        <%= link_to "User Management", "#user_mangament", {"data-toggle" => "collapse" } %>
      </div>
      </div>
      <div class="collapse" id="user_mangament">
        <div class="card card-body childdash_cos">
          <%= link_to "User List", admin_users_path, class: "login_button"%>
          <%= link_to "Add User", new_admin_user_path, class: "login_button"%>
        </div>
      </div>
      <div class = "childdash">
        <%= link_to "Categories Management", "#cate_mangament", {"data-toggle" => "collapse" } %>
      </div>
      <div class="collapse" id="cate_mangament">
        <div class="card card-body childdash_cos">
          <%= link_to "Categories List", admin_categories_path, class: "login_button"%>
          <%= link_to "Add Categories", new_admin_category_path, class: "login_button"%>
        </div>
      </div>
      <div class = "childdash">
        <%= link_to "Lesson Management", "#lesson_mangament", {"data-toggle" => "collapse" } %>
      </div>
      <div class="collapse" id="lesson_mangament">
        <div class="card card-body childdash_cos">
          <%= link_to "Lesson List", admin_lessons_path, class: "login_button"%>
          <%= link_to "Add Lesson", new_admin_lesson_path, class: "login_button"%>
        </div>
      </div>
  </div>
  </div>
</div>