<div class="tab-pane" id="activities">
  <div class="ed_dashboard_tab_info activities">
    <ul class="users">
    <%if !@activities.blank? %>
      <% @activities.each do |act|%>
        <% if act.owner_type == "Wordlist"%>
          <li>
            <%= act.owner.user.username%> <%= t("users.activity.join")%> <%=act.owner.category.name%> - <%= time_ago_in_words(act.created_at) %> <%= t("users.activity.ago")%>
          </li>
        <%else%>
          <li>
           <%= act.owner.user.username%> <%= t("users.activity.result")%> <%=act.owner.lesson.name_lesson%> <%= t("users.activity.mark", point: act.owner.content)%> - <%= time_ago_in_words(act.created_at) %> <%= t("users.activity.ago")%>
          </li>
        <%end%>
      <%end%>
      <%= will_paginate @activities, :previous_label=> t("page.pre"), :next_label => t("page.next") %>
    <%else%>
      <h3><%= t("users.activity.nothing")%></h3>
    <%end%>
    <ul>
  </div>
</div>