<% provide(:title, t("static_pages.home.title") )%>
<%= render "show_course", collection: @categories %>
  <div class="">
    <div class="row">
      <%= render "layouts/sidebar" %>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 ">
        <div class="ed_dashboard_tab ">
          <div class="tab-content shadow_box">
            <%= render "dashboard" %>
            <%= render "wordlist" %>
            <%= render "profile" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>