<div class="row ed_dashboard_wrapper">
  <div class="col-lg-12 col-lg-offset-1  container "> 
    <h3><%= t("lesson.show.lesson_name")%> <%= @lesson.name_lesson%></h3>
    <%= render "shared/flash_messages" %>
      <% @words.each do |w| %>
        <div class = "col-md-3 lesson_pdf">
          <div class = "row">
            <% if w.image.attached? %>
              <%= image_tag w.image, size: "100x100" %>
            <%end%>
          </div>
          <div class = "row">
            <%= w.word%>
          </div>
          <div class = "row">
            <%= w.pronounce%>
          </div>
          <div class = "row">
            <%= w.mean%>
          </div>
        </div>    
      <%end%>
  </div>
</div>