<div class="row ed_dashboard_wrapper">
  <div class="col-lg-8 col-lg-offset-2  container ed_dashboard_tab_info "> 
  <h3>Bài học: <%= @lesson.name_lesson%></h3>
    <%= render "shared/flash_messages" %>
    <table class="table table-striped table-inverse table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th><%= t("lesson.word")%></th>
          <th><%= t("lesson.pronounce")%></th>
          <th><%= t("lesson.mean")%></th>
          <th><%= t("lesson.actions")%></th>
        </tr>
        </thead>
        <tbody>
        <% @words.each do |l| %>
          <tr>
            <td scope="row"><%= l.word%></td>
            <td ><%= l.pronounce%></td>
            <td><%= l.mean%></td>
            <td>
              <%= link_to t("lesson.add_summary"), word_summary_path(id: l.id) %> |
              <%= link_to t("lesson.more"), "https://translate.google.com/?hl=vi&sl=auto&tl=vi&text=#{l.word}&op=translate", target: :_blank %>
            </td>
          </tr>          
        <%end%>
        </tbody>
    </table>
    <div class="join_courses">
      <%= link_to t("lesson.strart_test"), test_path(id: @lesson.id)%>
    </div>
  </div>
</div>