<%= render "admin/sidebar_admin" %>
<div class = "col-md-10 ">
  <table class="table table-striped table-inverse table-responsive table-bordered table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th><%= t("categories.home.name")%></th>
          <th style ="text_align: center"><%= t("categories.home.status")%></th>
          <th><%= t("categories.home.decrip")%></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |c| %>
        <div class="row d-flex justify-content-center mt-4">
          <tr>
            <td ><%= c.id%></td>
            <td scope="row"><%= link_to c.name, admin_category_path(id: c.id), method: :get %></td>           
            <td><% if c.status == true%>
                  <div class ="active_status"></div>
                <%else%>
                  <div class ="unactive_status"></div>
                <%end%>
            </td>
            <td ><%= c.decription%></td>
            <td>
              <%= link_to t("admin.edit"), edit_admin_category_path(id: c.id), class: "btn btn-primary m-1" %>
              <% if c.status %>
                <%= link_to t("admin.unactive"), [:admin, c], method: :delete , class: "btn btn-primary m-1"%> 
              <%else%>
                <%= link_to t("admin.active"), admin_category_path(id: c.id), method: :patch , class: "btn btn-primary m-1"%> 
              <%end%>
                      
            </td>
          </tr> 
        </div>      
        <%end%>
      </tbody>
    </table>
    <%= will_paginate @categories, :previous_label=> t("page.pre"), :next_label => t("page.next") %>
</div>

