<%= render "admin/sidebar_admin" %>
<div class = "col-md-10 ">

  <table class="table table-striped table-inverse table-responsive table-bordered table-hover">
      <thead class="thead-inverse">
        <tr>

          <th>ID</th>
          <th>Name</th>
          <th style ="text_align: center">Status</th>
          <th>Description</th>
          
        </tr>
        </thead>
        <tbody>
        <% @categories.each do |c| %>
        <div class="row d-flex justify-content-center mt-4">
          <tr>
            <td ><%= c.id%></td>
            <td scope="row"><%= c.name%></td>           
            <td><% if c.status.nil?%>
                  <div class ="active"></div>
                <%else%>
                  <div class ="unactive"></div>
                <%end%>
            </td>
            <td ><%= c.decription%></td>
            <td>
              <%= link_to "Edit", "" %> | <%= link_to "Unactive", "" %>         
            </td>
          </tr> 
        </div>      
        <%end%>
        
        </tbody>
         
    </table>
    <%= will_paginate @categories, :previous_label=> t("page.pre"), :next_label => t("page.next") %>
</div>

