<%= render "admin/sidebar_admin" %>

<<<<<<< HEAD
<div class = "col-md-8">
  <div class = "row">
    <%= render "shared/flash_messages" %>
  </div>
  <div class = "col-md-6 col-md-offset-7">
    <%= form_with( url: admin_users_path,method: :get, class: "form-inline md-form mr-auto mb-4") do |f| %>
        <%= f.text_field :name, class: "form-control mr-sm-2"%>
        <%= f.submit "Search", class: "btn aqua-gradient btn-rounded btn-sm my-0"%>
    <%end%>
  </div>
  <table class="table table-striped table-inverse table-responsive table-bordered table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>STT</th>
          <th><%= t("admin.users.username")%></th>
          <th><%= t("admin.users.email")%></th>
          <th><%= t("admin.users.status")%></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
          <% if u.email != "firesoul0608@gmail.com"%>
            <tr>
              <td ><%= u.id - 1%></td>
              <td scope="row"><%= link_to u.username, admin_user_path(id: u.id) %></td>
              <td ><%= u.email%></td>
              <td><% if u.status%>
                    <div class ="active_status"></div>
                  <%else%>
                    <div class ="unactive_status"></div>
                  <%end%>
              <td>
                <%= link_to edit_admin_user_path(id: u.id), class: "btn btn-primary m-1" do %> 
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <%end%>
                <% if u.status %>
                    <%= link_to [:admin, u], method: :delete, class: "btn btn-primary m-1" do %>
                      <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <%end%> 
                  <%else%>
                    <%= link_to [:admin, u], method: :delete, class: "btn btn-primary m-1" do %>
                      <i class="fa fa-circle" aria-hidden="true"></i>
                    <%end%> 
                  <%end%>        
              </td>
            </tr> 
          <%end%>        
        <%end%>
      </tbody>
    </table>
    <%= will_paginate @users, :previous_label=> t("page.pre"), :next_label => t("page.next") %> 
=======
<div class = "col-md-10">
  <div class = "row">
    <%= render "shared/flash_messages" %>
  </div>
  
  <div class = "col-md-10">
    <%= form_with( url: admin_users_path,method: :get, class: "form-inline lg-form search") do |f| %>
        <%= f.label t("admin.users.index.search")%>
        <%= f.text_field :name, class: "form-control", style: "width:40%"%>
        <%= f.submit t("admin.users.index.search"), class: "btn aqua-gradient btn-rounded btn-sm my-0"%>
    <%end%>
  </div>
  <ul class="nav nav-pills nav-justified">
    <li class="active"><%= link_to t("admin.users.index.all"), "#home", { class: "tab_user", "data-toggle" => "tab" } %></li>
    <li ><%= link_to t("admin.users.index.admin"), "#admin", { class:  "tab_user", "data-toggle" => "tab" } %></li>
    <li><%= link_to t("admin.users.index.teacher"), "#teacher", { class: "tab_user", "data-toggle" => "tab" } %></li>
    <li><%= link_to t("admin.users.index.student"), "#student", { class: "tab_user", "data-toggle" => "tab" } %></li>
  </ul>
  <div class="tab-content">
    <%= render "all_user", collection: @users %>
    <%= render "admin_index", collection: @users %>
    <%= render "teacher_index", collection: @users %>
    <%= render "student_index", collection: @users %>
  </div>
>>>>>>> 86a1beb... Authorization User
</div>