<%= render "admin/sidebar_admin" %>

<div class = "col-md-6">
  <div class = "col-md-3">
    <%= render "shared/flash_messages" %>
  </div>
  <div class = "col-md-6 ">
    <%= form_with( url: admin_users_path,method: :get, class: "form-inline md-form mr-auto mb-4") do |f| %>
        <%= f.text_field :name, class: "form-control mr-sm-2"%>
        <%= f.submit "Search", class: "btn aqua-gradient btn-rounded btn-sm my-0"%>
    <%end%>
  </div>
  <table class="table table-striped table-inverse table-responsive table-bordered table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Status</th>
          
        </tr>
        </thead>
        <tbody>
        <% @users.each do |u| %>
          <% if u.admin != true%>
            <tr>
              <td ><%= u.id%></td>
              <td scope="row"><%= link_to u.username, admin_user_path(id: u.id) %></td>
              <td ><%= u.email%></td>
              <td><% if u.status%>
                    <div class ="active_status"></div>
                  <%else%>
                    <div class ="unactive_status"></div>
                  <%end%></td>
              <td>
                <%= link_to t("admin.edit"), edit_admin_user_path(id: u.id), class: "btn btn-primary m-1" %> 
                <%if  u.status%>
                  <%= link_to t("admin.unactive"), [:admin, u], method: :delete, class: "btn btn-primary m-1" %> 
                <% else%>
                  <%= link_to t("admin.active"),  admin_user_path(id: u.id), method: :patch , class: "btn btn-primary m-1"%> 
                <%end%>        
              </td>
            </tr> 
          <%end%>        
        <%end%>
        </tbody>
    </table>
    <%= will_paginate @users, :previous_label=> t("page.pre"), :next_label => t("page.next") %> 
</div>

